body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table-caro button{
  width: 30px;
  height: 30px;
  text-decoration: none;
  margin: 1px;
  border: none;
  background-color: #6f9e81;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}
.wrapper{
  padding-top:10px;
  margin: auto;
}
.row{
  display: flex;
}
.info-turn{
  padding:20px;
  font-size: 20px;
}
.c-red{
  color:red;
}
.c-blue{
  color:blue;
}
.container{
  display: flex;
  justify-content: space-around;
}
.ListMove{
  padding:30px;
  font-size: 20px;
  padding-right: 65px;
}
.row > span{
  display:inline-block;
  width:30px;
  margin:1px;
  height: 30px;
}
table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
}
table td{
  border: 1px solid #ddd;
  padding: 8px;
}
table thead tr:nth-child(even){
  background-color: #f2f2f2;
}
table tr:hover {background-color: #ddd;}
table thead td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
table tbody {
  font-size: 13px;
}
thead > tr > td {
  padding-left: 25px;
  padding-right: 25px;
}
.ListMove > div {
  text-align: center;
  padding-bottom:10px;
}
tbody > tr.active > td{
  background-color: #ddd;
}